<h1></h1>
<% @ideas.each do |model| %>
<div class="panel panel-default">
    <div class="panel-body">

<table class="shisir" style="width:100%">
<tr>
<th>Date</th>
<th>Title></th>
<th>Amount</th>
</tr>
<td><%= model.date %> </td>
<td><%= model.title %> </td>
<td><%= model.amount %> </td>
</table> 
    </div>
  </div>
<% end %>

