<h1 >Finance</h1>
<table>
    <thead>
        <tr>
        <th> DATE </th>
        <th> TIME </th>
        <th> AMOUNT</th>
        </tr>
        </thead>
    <tbody>
        <% @Finance.each do|Finance|%>
        <tr>
            
            
            
            
            
        </tr>
        
        
        
    </tbody>
    
    
    
    
</table>